[Unit]
Description=Device Indicator LED

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/ledindicator 12 ON
ExecStop=/usr/local/bin/ledindicator 12 OFF
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target

