[Unit]
Description=Device Indicator LED

[Service]
Type=oneshot
EnvironmentFile=/etc/power-web-service.conf
ExecStart=ledindicator $DEVICE_INDICATOR_LED ON
ExecStop=ledindicator $DEVICE_INDICATOR_LED OFF
KillMode=process

[Install]
WantedBy=multi-user.target

