[Unit]
Description=Power web service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
ExecStart=/usr/local/sbin/powerwsd &
ExecStop=/bin/kill -HUP $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
